.body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1020px;
    margin: 0 auto;
}

/*----------------------- PORTFOLIO --------------------------*/

.portfolio {
    background-color: #2d303a;
    height: 870px;
    border-bottom: 6px solid #323746;
    box-sizing: border-box;
}
.portfolio__titile {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin: 0;
    padding: 0px;
    padding-top: 70px;
    padding-left: 40px;
    letter-spacing: 0.01em;
}
.portfolio__text {
    width: 940px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    margin: 0;
    padding: 0;
    padding-top: 27px;
    padding-left: 40px;
    letter-spacing: -0.005em;
}
.portfolio_text_span1 {
    letter-spacing: -0.022em;
}
.portfolio_text_span2 {
    letter-spacing: -0.002em;
}
.portfolio_text_span3 {
    letter-spacing: -0.02em;
}
.portfolio__nav{
    height: 22px;
    display: flex;
    margin-top: 11px;
    margin-left: 41px;
}
.portfolio__nav_btn1,
.portfolio__nav_btn2,
.portfolio__nav_btn3,
.portfolio__nav_btn4 {
    background-color: #2d303a;
    color: #767e9e;
    border: 1px solid #767e9e;
    border-radius: 5px;
    font-size: 12px;
    line-height: 19px;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    margin-left: 10px;
    padding-left: 6px;
    padding-right: 2px;
    letter-spacing: -0.01em;
}
.portfolio__nav_btn1 {
    color: #dedede;
    border: 1px solid #dedede;
    width: 29px;
    margin-left: 0;
    letter-spacing: 0.06em;
}
.portfolio__nav_btn2 {
    width: 78px;
}
.portfolio__nav_btn3 {
    width: 93px;
    width: 93px;
    height: 22px;

}
.portfolio__nav_btn4 {
    width: 57px;
    letter-spacing: 0.0em;
}


.portfolio__nav_btn1:hover,
.portfolio__nav_btn2:hover,
.portfolio__nav_btn3:hover,
.portfolio__nav_btn4:hover {
    color: goldenrod;
    border: 1px solid goldenrod;
}

.portfolio__projects {
    margin-left: 20px;
    margin-top: -1px;
    display: flex;
    flex-wrap: wrap;
    height: 630px;
    overflow-y: hidden;
}
.portfolio__projects img{
    margin-top: 20px;
    margin-left: 20px;
}

/*--------------------- END PORTFOLIO --------------------------*/

/*------------------------- STAFF --------------------------*/

.about {
    background-color: #f2f2f2;
    height: 734px;
    border-bottom: 6px solid #ffffff;
    box-sizing: border-box;
}
.about__title {
    padding: 0;
    margin: 0;
    padding-top: 69px;
    padding-left: 41px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    word-spacing: -0.05em;
}
.about__text,
.about__text2 {
    padding-top: 22px;
    padding-left: 40px;
    width: 960px;
    font-size: 18px;
    line-height: 5px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    letter-spacing: -0.003em;
}
.about__text2 {
    padding-top: 7px;
    letter-spacing: -0.003em;
}
.about__text2_span1 {
    letter-spacing: -0.01em;
}
.about__text2_span2 {
    letter-spacing: -0.03em;
}
.about__text2_span3 {
    letter-spacing: -0.011em;
}
.about__text2_span4 {
    letter-spacing: -0.004em;
    margin-left: -2px;
}
.about__staff {
    margin-top: 57px;
    margin-left: 21px;
    display: flex;
}
.about__staff_person {
    margin-left: 19px;
}
.about__staff section:nth-child(3) {
    margin-left: 21px;
}
.about__staff_person_img {
    object-fit: cover;
    height: 301px;
}
.about__staff_person_name {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin: 0;
    padding: 0;
    padding-top: 12px;
}
.about__staff section:nth-child(2) h3 {
    letter-spacing: -0.01em;
}
.about__staff section:nth-child(3) h3 {
    margin-left: -1px;
    word-spacing: 0.1em;
}
.about__staff section:nth-child(3) img:nth-child(1) {
    margin-left: 0px;
}
.about__staff_person_text {
    width: 300px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    margin: 0;
    padding: 0;
    padding-top: 11px;
}
.person1_fix_txt {
    letter-spacing: -0.013em;
}
.person1_fix_txt_span {
    letter-spacing: 0;
}
.person2_fix_txt {
    letter-spacing: 0.013em;
}
.person2_fix_txt_span1 {
    letter-spacing: -0.01em;
}
.person2_fix_txt_span2 {
    letter-spacing: 0.001em;
}
.person3_fix_txt_span1 {
    letter-spacing: 0.005em;
    margin-left: 1px;
}
.person3_fix_txt_span2 {
    margin-left: -2px;
}
.person3_fix_txt_span3 {
    margin-left: -2px;
}
.about__staff_person_icons {
    margin-top: 22px;
    display: flex;
}
.about__staff_person_icons img {
    margin-left: 6px;
}
.about__staff_person_icons img:nth-child(1) {
    margin-left: 0px;
}
.about__staff section:nth-child(3) div img:nth-child(1) {
    margin-left: -1px;
    height: 35px;
}
/*----------------------- END STAFF --------------------------*/
