.body {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
}

/*----------------------- HEDER --------------------------*/

.header {
    background-color: #2d303a;
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 6px solid #323746;
    box-sizing: border-box;
}

.header__title {
    margin-top: 42px;
    margin-left: 40px;
    font-size: 25px;
    line-height: 4px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
    letter-spacing: -0.03em;
}

.header__title span {
    color: #f06c64;
}

.header__nav {
    margin-top: 48px;
    margin-right: 40px;
}

.header__nav_list {
    display: flex;
    width: 371px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-size: 11px;
    line-height: 5px;
    color: rgb(94, 94, 94);
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
    transition: 0.3s;
    list-style-type: '·    ';
    letter-spacing: 0.04em;
}

.header__nav_list a.active {
    outline: 3px solid #f06c64;
    outline-offset: 9px;
}

.header__nav_list span {
    color: white;
}

.header__nav_list a {
    text-decoration: none;
    color: white;
}

.header__nav_list a:hover {
    text-decoration: none;
}

.header__nav_list li a:hover {
    color: goldenrod;
    text-shadow: 1px 1px 1px whitesmoke;
}

.header__nav_list_item_home {
    list-style: none;
}

.header__nav_list_item_home a {
    color: #f06c64;
    padding-left: 0;
    margin-left: 0;
}

.header__nav_list_item_home:hover {
    color: goldenrod;
}

.header__nav_list li {
    cursor: pointer;
    align-self: center;
}

.header__nav_list li span:hover {
    color: goldenrod;
    text-shadow: 1px 1px 1px whitesmoke;
}

@media only screen and (max-width: 1019px) {
    .header {
        height: 89px;
        border: 0;
    }
    .header__nav {
        margin-top: 45px;
        margin-right: 40px;
    }
}

/*----------------------- END HEDER --------------------------*/

/*----------------------- SLIDER --------------------------*/

.slider {
    background-color: #f06c64;
    height: 600px;
    display: flex;
    border-bottom: 6px solid #ea676b;
    box-sizing: border-box;
}

.slider__item {
    display: flex;
    height: 592px;
}

.slider__item_arrow-left {
    margin-left: 42px;
    align-self: center;
    cursor: pointer;
    transition: 0.3s;
}

.slider__item_arrow-left:hover {
    background-color: goldenrod;
}

.slide__item {
    display: flex;
    height: 589px;
}

.slider__item_horizontal-img {
    height: 215px;
    width: 458px;
    border-radius: 27px;
    margin-right: 100px;
    margin-top: 174px;
    margin-left: -2px;
    z-index: 9;
    cursor: pointer;
}

.slider__item_horizontal-shadow {
    position: absolute;
    margin-top: 174px;
    margin-left: -2px;
    z-index: 1;
}

.slider__item_vertical-img {
    height: 458px;
    width: 215px;
    border-radius: 27px;
    margin-left: 54px;
    margin-right: 100px;
    margin-top: 53px;
    z-index: 9;
    cursor: pointer;
}

.slider__item_vertical-shadow {
    position: absolute;
    margin-left: 54px;
    margin-right: 100px;
    margin-top: 53px;
    z-index: 1;
}

.vertical-click {
    display: none;
    position: absolute;
    z-index: 99;
    margin-right: 100px;
    margin-top: 118px;
    margin-left: 67px;
    cursor: pointer;
}

.horizontal-click {
    display: none;
    position: absolute;
    z-index: 99;
    margin-left: 58px;
    margin-top: 187px;
    cursor: pointer;
}

.show-image {
    display: block;
}

.slider__item_arrow-right {
    margin-left: 0;
    align-self: center;
    cursor: pointer;
    transition: 0.3s;
}

.slider__item_arrow-right:hover {
    background-color: goldenrod;
}

.slides {
    width: 905px;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.slide-item {
    width: 906px;
    height: 593px;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    background-color: #f06c64;
    transition: all 0.7s;
}

.slide-item>img {
    object-fit: contain;
    object-position: -50px;
}

#right {
    width: 57px;
}

#right:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}

#left:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}

@media only screen and (max-width: 1019px) {
    .slider {
        height: 452px;
        justify-content: space-between;
    }
    .slider__item {
        height: 444px;
    }
    .slider__item_arrow-left {
        margin-left: 42px;
    }
    .slide__item {
        height: 444px;
    }
    .slider__item_horizontal-img {
        height: 162px;
        width: 345px;
        border-radius: 27px;
        margin-right: 100px;
        margin-top: 140px;
        margin-left: -2px;
        z-index: 9;
        cursor: pointer;
    }
    .slider__item_horizontal-shadow {
        margin-top: 141px;
        margin-left: 0px;
        width: 358px;
    }
    .slider__item_vertical-img {
        height: 345px;
        width: 162px;
        margin-left: 38px;
        margin-right: 73px;
        margin-top: 47px;
    }
    .slider__item_vertical-shadow {
        margin-left: 40px;
        margin-right: 73px;
        margin-top: 49px;
        height: 359px;
    }
    .vertical-click {
        margin-top: 96px;
        margin-left: 48px;
        width: 143px;
        height: 251px;
    }
    .horizontal-click {
        margin-left: 42.5px;
        margin-top: 150px;
        width: 252px;
    }
    .slider__item_arrow-right {
        margin-left: 0;
    }
    .slides {
        width: 680px;
        margin: 0;
        padding: 0;
    }
    .slide-item {
        width: 680px;
        height: 444px;
        left: -10px;
        right: 0;
    }
    .slide-item>img {
        object-fit: contain;
        object-position: -50px;
    }
    #right {
        width: 56px;
    }
}

/*----------------------- END SLIDER --------------------------*/

/*----------------------- SERVICES --------------------------*/

.services {
    background-color: #f2f2f2;
    height: 500px;
    border-bottom: 6px solid #ffffff;
    box-sizing: border-box;
}

.services__title {
    font-size: 30px;
    line-height: 15px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding: 0;
    margin: 0;
    padding-top: 71px;
    padding-left: 40px;
}

.services__text {
    width: 90%;
    height: 87px;
    font-size: 18px;
    line-height: 38px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    padding: 0;
    margin: 0;
    padding-left: 41px;
    padding-top: 24px;
    padding-right: 0;
    overflow: hidden;
    letter-spacing: -0.01em;
}

.services__column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 21px;
}

.services__column_item {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 123px;
    margin-left: 20px;
}

.services__column_item_img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #666d89;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    margin-left: 1px;
}

.services__column_item_img img {
    height: 35px;
    object-fit: contain;
    object-position: center;
    align-self: center;
}

.services__column_item:nth-child(1) {
    padding-left: 1px;
}

.services__column_item:nth-child(1) h3 {
    letter-spacing: -0.01em;
}

.services__column_item:nth-child(2) div {
    width: 54px;
    margin-left: 0;
}

.services__column_item:nth-child(3) div {
    width: 54px;
    margin-left: 0;
    margin-top: 1px;
}

.services__column_item:nth-child(3) img {
    width: 36px;
    height: 37px;
}

.services__column_item:nth-child(4) img {
    height: 36px;
}

.services__column_item:nth-child(5) img {
    height: 31px;
}

.services__column_item:nth-child(5) div {
    margin-left: 0;
    padding-left: 1px;
}

.services__column_item:nth-child(6) div {
    margin-left: 0;
}

.services__column_item:nth-child(6) img {
    height: 33px;
}

.services__column_item_article {
    width: 220px;
}

.services__column_item_article_title {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.services__column_item_article_text {
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    text-align: justify;
    height: 65px;
    overflow: hidden;
}

.margin-default {
    margin-left: 0;
}

@media only screen and (max-width: 1019px) {
    .services {
        height: 680px;
    }
    .services__title {
        font-size: 30px;
        line-height: 15px;
        padding-top: 58px;
        padding-left: 40px;
    }
    .services__text {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        padding-top: 28px;
        letter-spacing: 0.0em;
    }
    .services__column {
        width: 720px;
        margin: 0 auto;
        margin-top: 18px;

    }
    .services__column section:nth-child(2n) {
        margin-left: 53px;
    }
    .services__column_item {
        margin-left: 0;
        margin-top: 20px;
    }
    .services__column_item:nth-child(1) {
        padding-left: 0;
    }
}

/*----------------------- END SERVICES --------------------------*/

/*----------------------- PORTFOLIO --------------------------*/

.portfolio {
    background-color: #2d303a;
    height: 869px;
    border-bottom: 6px solid #323746;
    box-sizing: border-box;
}

.portfolio__titile {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin: 0;
    padding: 0px;
    padding-top: 69px;
    padding-left: 39px;
    letter-spacing: 0.01em;
}

.portfolio__text {
    width: 85%;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    margin: 0;
    padding: 0;
    padding-top: 27px;
    padding-left: 40px;
    letter-spacing: -0.005em;
    overflow: hidden;
    height: 59px;
}

.portfolio__nav {
    height: 22px;
    display: flex;
    margin-top: 11px;
    margin-left: 41px;
}

.portfolio__nav_btn1, .portfolio__nav_btn2, .portfolio__nav_btn3, .portfolio__nav_btn4 {
    background-color: #2d303a;
    color: #767e9e;
    border: 1px solid #767e9e;
    border-radius: 5px;
    font-size: 12px;
    line-height: 19px;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    margin-left: 10px;
    padding-left: 6px;
    padding-right: 2px;
    letter-spacing: -0.01em;
}

.portfolio__nav_btn1 {
    color: #dedede;
    border: 1px solid #dedede;
    width: 29px;
    margin-left: 0;
    letter-spacing: 0.06em;
}

.portfolio__nav_btn2 {
    width: 78px;
}

.portfolio__nav_btn3 {
    width: 93px;
    height: 22px;
}

.portfolio__nav_btn4 {
    width: 57px;
    letter-spacing: 0.0em;
}

.portfolio__nav_btn1:hover, .portfolio__nav_btn2:hover, .portfolio__nav_btn3:hover, .portfolio__nav_btn4:hover {
    color: goldenrod;
    border: 1px solid goldenrod;
    cursor: pointer;
}

.portfolio__projects {
    margin-left: 20px;
    margin-top: -1px;
    display: flex;
    flex-wrap: wrap;
    height: 630px;
    user-select: none;
    overflow-y: hidden;
}

.portfolio__projects img {
    margin-top: 20px;
    margin-left: 20px;
}

.portfolio__projects img.project-border {
    outline: 5px solid crimson;
}

@media only screen and (max-width: 1019px) {
    .portfolio {
        height: 1102px;
    }
    .portfolio__projects {
        height: 816px;
        width: 721px;
        margin: 0 auto;
        margin-top: 27px;
    }
    .portfolio__projects img {
        width: 216px;
        height: 184px;
        margin-top: 0;
        margin-left: 23px;
    }
    .portfolio__nav {
        margin-top: 13px;
        margin-left: 42px;
    }
}

/*--------------------- END PORTFOLIO --------------------------*/

/*------------------------- STAFF --------------------------*/

.about {
    background-color: #f2f2f2;
    height: 734px;
    border-bottom: 6px solid #ffffff;
    box-sizing: border-box;
}

.about__title {
    padding: 0;
    margin: 0;
    padding-top: 69px;
    padding-left: 41px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    word-spacing: -0.05em;
}

.about__text {
    padding-top: 22px;
    padding-left: 40px;
    width: 90%;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    letter-spacing: -0.01em;
}

.about__staff {
    margin-top: 57px;
    margin-left: 21px;
    display: flex;
}

.about__staff_person {
    margin-left: 19px;
}

.about__staff section:nth-child(3) {
    margin-left: 21px;
}

.about__staff_person_img {
    object-fit: cover;
    height: 301px;
}

.about__staff_person_name {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin: 0;
    padding: 0;
    padding-top: 13px;
}

.about__staff_person_text {
    width: 300px;
    font-size: 12px;
    text-align: justify;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    margin: 0;
    padding: 0;
    padding-top: 9px;
    overflow: hidden;
    height: 43px;
}

.about__staff_person_icons {
    margin-top: 22px;
    display: flex;
}

.about__staff_person_icons img {
    margin-left: 6px;
    transition: 0.5s;
}

.about__staff_person_icons img:hover {
    cursor: pointer;
    margin-top: -5px;
}

.about__staff_person_icons img:nth-child(1) {
    margin-left: 0px;
}

.about__staff section:nth-child(3) div img:nth-child(1) {
    margin-left: -1px;
    height: 35px;
}

@media only screen and (max-width: 1019px) {
    .about {
        border: 0;
        height: 669px;
    }
    .about__title {
        margin: 0 auto;
        width: 90%;
        padding: 0;
        padding-top: 62px;
    }
    .about__text {
        padding: 0;
        padding-top: 28px;
        margin: 0 auto;
        width: 90%;
        letter-spacing: 0.0em;
    }
    .about__staff {
        margin: 0 auto;
        margin-top: 38px;
        width: 720px;
    }
    .about__staff_person_img {
        object-fit: cover;
        height: 301px;
    }
    .about__staff_person_text {
        width: 220px;
        height: 65px;
    }
    .about__staff_person_icons {
        margin-top: 10px;
    }
    .about__staff_person_img {
        object-fit: cover;
        width: 219px;
        height: 219px;
    }
    .about__staff_person_name {
        padding-top: 9px;
    }
    .about__staff_person_text {
        padding-top: 3px;
    }
    .about__staff_person {
        margin-left: 24px;
    }
    .about__staff section:nth-child(2) {
        margin-left: 15px;
    }
    .about__staff section:nth-child(3) {
        margin-left: 14px;
    }
}

/*----------------------- END STAFF --------------------------*/

/*----------------------- QUOTE --------------------------*/

.quote {
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    width: 100%;
    height: 654px;
    box-sizing: border-box;
}

.quote__title {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    padding: 0;
    margin: 0;
    padding-top: 69px;
    padding-left: 39px;
}

.quote__text {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    padding: 0;
    margin: 0;
    margin-top: 27px;
    margin-left: 40px;
    overflow: hidden;
}

.quote__text-span1 {
    margin-left: -1px;
}

.quote__wrap {
    margin-left: 40px;
    margin-top: 30px;
    display: flex;
}

.quote__form {
    width: 640px;
    margin-top: 0.5px;
}

.quote__form-area, .quote__form-btn, .quote__form-input {
    width: 605px;
    height: 36px;
    border-radius: 5px;
    background-color: #d6564f;
    margin-top: 16px;
    border: 0;
    outline: 0;
    font-size: 12px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    cursor: pointer;
    padding-left: 14px;
}

.quote__form input:nth-child(1) {
    height: 35.5px;
}

.quote__form input:nth-child(2) {
    height: 36.5px;
}

.quote__form input:nth-child(3) {
    height: 36px;
}

::placeholder {
    color: #f48c8f;
}

::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    padding-top: 5px;
    letter-spacing: 0.005em;
}

textarea::placeholder {
    letter-spacing: -0.005em;
}

.quote__form-area {
    min-width: 603px;
    max-width: 603px;
    min-height: 197px;
    max-height: 197px;
    resize: none;
    padding-top: 2px;
    line-height: 30px;
}

.quote__form-btn {
    text-align: center;
    width: 619px;
}

.quote__form-btn:hover {
    background-color: crimson;
}

.quote__info-title {
    padding: 0;
    margin: 0;
    padding-top: 17px;
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    letter-spacing: 0.003em;
}

.quote__info-text {
    width: 304px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    margin-left: 0px;
    margin-top: 10px;
    letter-spacing: -0.005em;
    overflow: hidden;
    height: 85.5px;
    text-align: justify;
}

.quote__info-contact, .quote__info-contact a {
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
}

.quote__info-contact {
    margin-top: 24px;
    margin-left: -23px;
}

.quote__info-contact-location {
    list-style-image: url(./assets/icons/location.png);
    padding-left: 7px;
    margin-left: -1px;
    letter-spacing: -0.014em;
    line-height: 20px;
}

.quote__info-contact-phone {
    list-style-image: url(./assets/icons/phone.png);
    padding-left: 5px;
    margin-left: 1px;
    letter-spacing: -0.01em;
    text-decoration: none;
}

.quote__info-contact-mail {
    list-style-image: url(./assets/icons/mail.png);
    margin-left: 2px;
    letter-spacing: -0.01em;
    padding-left: 4px;
    margin-top: 1px;
}

.quote__info-contact a {
    text-decoration: none;
}

.quote__info_pop-up {
    background-color: rgba(111, 111, 111, 0.2);
    width: 100%;
    height: 4000px;
    position: absolute;
    left: 0;
    bottom: -2726px;
}

.pop-up-hidden {
    display: none;
}

.quote__info_pop-up-message {
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: #2d303a;
    top: 3400px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: goldenrod;
    border-radius: 5px;
}

.quote__info_pop-up-message_theme {
    margin-top: 5px;
    width: 250px;
    height: 55px;
    overflow-x: auto;
    border: 1px dotted rgba(200, 200, 200, 0.3);
    padding-left: 3px;
    overflow-y: auto;
    overflow-wrap: break-word;
}

.quote__info_pop-up-message_description {
    margin-top: 10px;
    width: 250px;
    height: 120px;
    overflow-y: auto;
    overflow-wrap: break-word;
    border: 1px dotted rgba(200, 200, 200, 0.3);
    padding-left: 3px;
}

.quote__info_pop-up-message_btn {
    background-color: rgba(200, 200, 200, 0.3);
    margin-top: 10px;
    border-radius: 5px;
    border: 0;
    width: 200px;
    height: 25px;
    font-weight: bold;
    font-size: 20px;
    padding-top: 2px;
    cursor: pointer;
    outline: none;
}

.quote__info_pop-up-message_btn:hover {
    background-color: crimson;
    color: white;
}

@media only screen and (max-width: 1019px) {
    .quote {
        height: 631px;
    }
    .quote__title {
        margin: 0 auto;
        width: 90%;
        padding-left: 0;
        padding-top: 64px;
    }
    .quote__text {
        padding: 0;
        padding-top: 28px;
        margin: 0 auto;
        width: 90%;
        letter-spacing: -0.01em;
        padding-left: 8px;
        letter-spacing: -0.01em;
        padding-left: 8px;
        height: 90px;
        letter-spacing: 0.0em;
    }
    .quote__wrap {
        margin-top: 9px;
    }
    .quote__form-input {
        width: 426px;
        margin-top: 13px;
    }
    .quote__form-area {
        min-width: 426px;
        max-width: 426px;
        min-height: 156px;
        max-height: 197px;
        resize: none;
        padding-top: 0px;
        line-height: 30px;
        margin-top: 11px;
    }
    .quote__form-btn {
        width: 442px;
    }
    .quote__info-title {
        padding-top: 15px;
    }
    .quote__info-text {
        width: 223px;
        line-height: 23px;
        margin-top: 0px;
        letter-spacing: 0.0em;
        height: 134px;
        padding-right: 21px;
    }
    .quote__info-contact {
        margin-top: 12px;
    }
}

/*--------------------- END QUOTE --------------------------*/

/*------------------------- FOOTER --------------------------*/

.footer {
    background-color: #2d303a;
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copy-text {
    margin-left: 40px;
    color: #666d89;
    font-size: 12px;
    padding-left: 1px;
    letter-spacing: 0.02em;
    font-family: "Lato";
    font-weight: 400;
    letter-spacing: -0.015em;
    line-height: 20px;
}

.footer__icons {
    margin-right: 39px;
    display: flex;
    width: 154px;
    justify-content: space-between;
    padding-top: 5px;
}

.footer__icons a {
    cursor: pointer;
    transition: all 0.5s;
}

@media only screen and (max-width: 1019px) {
    .footer__copy-text {
        display: none;
    }
    .footer {
        justify-content: center;
    }
    .footer__icons {
        padding: 0;
        margin: 0;
        margin-left: 14px;
        margin-top: 6px;
    }
}

/*----------------------- END FOOTER --------------------------*/
